*{
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #222;
}

.portada{
	width: 100%;
	margin: auto;

}
.portada h1{
	font-size: 60px;
	color: #127CA8;
	padding: 5px;
	font-family: 'Pacifico', cursive;
	margin-top: 5px;
	margin-bottom: 20px;
}
.portada .fondo{
	background: #C3BBBB;
	border-bottom: 4px solid #640101;
}
.portada img{
	width: 1000px;
	height: 350px;
}
.container-fluid{
	margin-top: 20px;
	margin-bottom: 20px;
}
.container-fluid h2{
	color: #FFF;
	margin-top: 5px;
}
.container-fluid h3{
	color: #127CA8;
}
.container-fluid img{
	width: 100%;
	height: 300px;
}
.container-fluid p{
  color: #8c8c8c;
  text-align: center;
  margin-top: 10px;
}
.container-fluid button{
	margin-top: 10px;
	width: 90%;
	position: relative;
	left: 23px;
	font-weight: bold;
	color: #1CC64F;
	background: #222;
	border: 2px solid #1CC64F;
}
.container-fluid button:hover{
	color: #222;
	background: #1CC64F;
	border: 2px solid #1CC64F;
}
.btn{
	transition: 0.3s;
}
.btn:hover{
	transform: scale(1.1);
}

footer{
	color: #666;
	background: #C3BBBB;
	line-height: 50px;
}
footer ul{
	list-style: none;
}
footer ul li{
	display: inline-block;
	margin-right: 5px;
}
footer ul li a{
  color: #666;
}
footer ul li a:hover{
	color: #666;
	text-decoration: underline;
}
